* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 50px;
}

header,
footer {
  height: 100px;
  border: 3px solid black;
  clear: both;
}

section {
  height: 200px;
  width: 33.333%;
  border: 3px solid black;
  float: left;
}

.half-section {
  height: 200px;
  width: 50%;
  border: 3px solid black;
  float: left;
}
